
html{
  width:100%;
  overflow-y: hidden;
}
body {
  margin: 0;
  background-color:whitesmoke;
  font-family:"luna";
}



div.landingpage{
  background-color:#7fb6ca;
  margin-top: 0rem;
  padding-top: 3rem;
  height: 28rem;
  margin-left:auto;
  margin-right:auto;
  padding-left: auto;
  padding-right: auto;
}
.landingpagebody{
  width: 100%;
  height:27rem;
 padding-top:5rem;
 padding-bottom:2rem;
 padding-right:auto;
 padding-left:auto;
  margin-left:auto;
  margin-right:auto;
  background-image:none;
  justify-content: center;
  position: relative;
  background-repeat: no-repeat;
}
img.myimage{
  margin-top:1.4rem;
  width:12rem;
  height:12rem;
  border-radius: 100% 100%;
  margin-left:auto;
  margin-right: auto;
}
div.details{
  margin-top:-2rem;
}
h2.name{
  font-family:"luna";
  font-weight: 500;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: whitesmoke;
  text-align: center;
}
.navhead{
  background-color:whitesmoke;
  box-shadow: 0px 3px 6px -2px rgb(0, 0, 0, 0.3);

}
h4.title-fade-out {
  opacity: 0;
  animation-name: fade-out;
  animation-duration: 3s;
  color: black;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
}
h4.title-fade-in {
  opacity: 100;
  animation-name: fade-in;
  animation-duration: 3s;
  color: black;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
}
@keyframes fade-out{
  from { opacity: 100}
  to { opacity:0}
}


@keyframes fade-in {
  from { opacity:0}
  to { opacity: 100}
}
.introduction{
  padding: 1.2rem;
}
.introduction p{
  font-size:1.2rem;
}
img.logo{
  width: 6.5rem;
  height:2.1rem;
}
.btnx{
  margin-left:auto;
  margin-right: auto;
}
img.introillustration{
  width:13rem;
  height: 14rem;
  margin-left:auto;
  margin-top:auto;
}
.servicebg{
  width: 100%;
  height:100rem;
  background-color: #f3f9fa;
  margin-left: 0 auto;
  margin-right: 0 auto;
  padding-top: 3rem;
}
img.illustrationimg{
  width:10rem;
  height:6rem;
  padding-left: auto;
  padding-right: auto;
 
}
div.servicebody{
  margin-left: auto;
  margin-right:auto;
  padding-left:4rem;
  padding-right:4rem;
  margin-top:2.4rem;
}
div.servicebodyx{
  margin-left: auto;
  margin-right:auto;
  padding-left:2rem;
  padding-right:2rem;
  margin-top:8rem;
}
h2.service{
  color: #4e8092;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
h6.service{
  color: #4e8092;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
div.servicebody p{
  padding-right: 0 auto;
  padding-left: 0 auto;
}
div.servicebodyx p{
  padding-right: 0 auto;
  padding-left: 0 auto;
}
.experience{
  padding-left: auto;
  padding-right: auto;
  margin-left: auto;
  margin-right: auto;
}
div.experience{
  padding-left: auto;
  padding-right: auto;
  margin-left: auto;
  margin-right: auto;
  
}
div.experiencebg{
  padding-left:1rem;
  padding-right:1rem;
  padding-top:1rem;
  padding-bottom:1rem;
  margin-left: auto;
  margin-right: auto;
  background-color:  #f3f9fa;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  
}
div.experiencebgx{
  padding-left:1rem;
  padding-right:1rem;
  padding-top:1rem;
  padding-bottom:1rem;
  margin-left: auto;
  margin-right: auto;
  background-color:  #f3f9fa;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  
}
div.experiencebgxx{
  padding-left:1rem;
  padding-right:1rem;
  padding-top:1rem;
  padding-bottom:1rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  background-color:  #f3f9fa;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  
}
img.brandimg{
  width: 7rem;
  height:5rem;
}
div.projectbg{
  padding-left:1rem;
  padding-right:1rem;
  padding-top:1rem;
  padding-bottom:1rem;
  margin-left: auto;
  margin-right: auto;
  background-color:#f4fbfd;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  
}
div.projectbgx{
  padding-left:1rem;
  padding-right:1rem;
  padding-top:1rem;
  padding-bottom:1rem;
  margin-left: auto;
  margin-right: auto;
  margin-top:2rem;
  background-color:#f4fbfd;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  
}
p.brandquote{
  font-size:0.7rem;
  padding-left:0.7rem;
}
img.brandx{
  width: 14rem;
  height:12rem;
 margin-top: -3rem;
  margin:auto;
}













/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {  
  body {
    margin: 0;
    font-family:"luna"
  }
  div.landingpage{
    background-color:#85B6C6;
    margin-top: 0rem;
    padding-top: 3rem;
    height: 25rem;
  }
  .landingpagebody{
    width: 100%;
    padding-top:5rem;
    padding-bottom:2rem;
    padding-right:5.5rem;
    padding-left:7rem;
    
     margin-left: 10rem;
  
  
    background-image:none;
    position: relative;
    background-repeat: no-repeat;
  }
  img.myimage{
    margin-top:-2rem;
    width:12rem;
    height:12rem;
    border-radius: 100% 100%;
  }
  div.details{
    margin-top:-2rem;
  }
  h2.name{
    font-family:"luna";
    font-weight: 500;
    color:whitesmoke;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    justify-content:center;
  }
  .navhead{
    background-color:whitesmoke;
    box-shadow: 0px 3px 6px -2px rgb(0, 0, 0, 0.3);
  
  }
  h4.title-fade-out {
    opacity: 0;
    animation-name: fade-out;
    animation-duration: 3s;
    color: #346b80;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    justify-content: initial;
    
   
    
  }
  h4.title-fade-in {
    opacity: 100;
    animation-name: fade-in;
    animation-duration: 3s;
    color: #4e8092;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    justify-content: initial;
    
    
  }
  @keyframes fade-out{
    from { opacity: 100}
    to { opacity:0}
  }
  
  
  @keyframes fade-in {
    from { opacity:0}
    to { opacity: 100}
  }
  .introduction{
    padding:0.2rem;
  }
  .introduction p{
    font-size:0.9rem;
  }
  img.logo{
    width: 6.5rem;
    height:2.2rem;
  }
  .btnx{
    margin-left:auto;
    margin-right: auto;
  }
  img.introillustration{
    width: 20rem;
    height: 14rem;
    margin-left:6rem;
    margin-top: 2rem;
  }
  .servicebg{
    width: 100%;
    height:83rem;
    background-color: #f3f9fa;
    margin-left: 0 auto;
    margin-right: 0 auto;
    padding-top: 3rem;
  }
  div.experiencebgxx{
    padding-left:1rem;
    padding-right:1rem;
    padding-top:1rem;
    padding-bottom:1rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    background-color:  #f3f9fa;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
  }
  div.projectbgx{
    padding-left:1rem;
    padding-right:1rem;
    padding-top:1rem;
    padding-bottom:1rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    background-color:#f4fbfd;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
  }
  
  

	
}












/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) { 
  body {
    margin: 0;
    font-family:"luna";
  }
  div.landingpage{
    background-color:#85B6C6;
    margin-top: 0rem;
    padding-top: 3rem;
    height:30rem;
  }
  .landingpagebody{
    width: 100%;
    height:27rem;
    padding-top:5rem;
    padding-bottom:2rem;
    padding-right:auto;
    padding-left:auto;
     margin-left:auto;
     margin-right:auto;
    background-image:none;
    position: relative;
    background-repeat: no-repeat;
  }
  img.myimage{
    margin-top:-2rem;
    width:12rem;
    height:12rem;
    border-radius: 100% 100%;
  }
  div.details{
    margin-top:-2rem;
  }
  h2.name{
    font-family:"luna";
    font-weight: 500;
    color: black;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    justify-content:initial;
  }
  .navhead{
    background-color:whitesmoke;
    box-shadow: 0px 3px 6px -2px rgb(0, 0, 0, 0.3);
  
  }
  h4.title-fade-out {
    opacity: 0;
    animation-name: fade-out;
    animation-duration: 3s;
    color: #346b80;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    justify-content: initial;
    
   
    
  }
  h4.title-fade-in {
    opacity: 100;
    animation-name: fade-in;
    animation-duration: 3s;
    color: #4e8092;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    justify-content: initial;
    
    
  }
  @keyframes fade-out{
    from { opacity: 100}
    to { opacity:0}
  }
  
  
  @keyframes fade-in {
    from { opacity:0}
    to { opacity: 100}
  }
  .introduction{
    padding:0.2rem;
  }
  .introduction p{
    font-size:0.7rem;
  }
  img.logo{
    width: 6.5rem;
    height:2.2rem;
  }
  .btnx{
    margin-left:auto;
    margin-right: auto;
  }
  img.introillustration{
    width:16rem;
    height:12rem;
    margin-left:auto;
    margin-right: auto;
    margin-top: 0rem;
  }
  .servicebg{
    width: 100%;
    height:46rem;
    background-color: #f3f9fa;
    margin-left: auto;
    margin-right: auto;
    padding-left: auto;
    padding-right: auto;
    padding-top: 3rem;
  }
  div.servicebody{
    margin-left: auto;
    margin-right:auto;
    padding-left:auto;
    padding-right:auto;
    margin-top:2.4rem;
  }
  div.servicebodyx{
    margin-left: auto;
    margin-right:auto;
    padding-left:auto;
    padding-right:auto;
    margin-top:8rem;
  }
  div.experiencebgxx{
    padding-left:auto;
    padding-right:auto;
    padding-top:1rem;
    padding-bottom:1rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    background-color:  #f3f9fa;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
  }
  div.projectbgx{
    padding-left:1rem;
    padding-right:1rem;
    padding-top:1rem;
    padding-bottom:1rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    background-color:#f4fbfd;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
  }
  
  


}











/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  body {
    margin: 0;
    font-family:"luna";
  }
  div.landingpage{
    background-color:#85B6C6;
    margin-top: 0rem;
    padding-top: 3rem;
    height:25rem;
  }
  .landingpagebody{
    width: 100%;
    height:27rem;
    padding-top:5rem;
    padding-bottom:2rem;
    padding-right:auto;
    padding-left:auto;
     margin-left:auto;
     margin-right:auto;
    background-image: url(image/landingbg1.svg);
    position: relative;
    background-repeat: no-repeat;
  }
  img.myimage{
    margin-top:-2rem;
    width:12rem;
    height:12rem;
    border-radius: 100% 100%;
  }
  div.details{
    margin-top:-2rem;
  }
  h2.name{
    font-family:"luna";
    font-weight: 500;
    color: black;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    justify-content:start;
  }
  .navhead{
    background-color:whitesmoke;
    box-shadow: 0px 3px 6px -2px rgb(0, 0, 0, 0.3);
  
  }
  h4.title-fade-out {
    opacity: 0;
    animation-name: fade-out;
    animation-duration: 3s;
    color: #346b80;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    justify-content: initial;
    
   
    
  }
  h4.title-fade-in {
    opacity: 100;
    animation-name: fade-in;
    animation-duration: 3s;
    color: #4e8092;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    justify-content: initial;
    
    
  }
  @keyframes fade-out{
    from { opacity: 100}
    to { opacity:0}
  }
  
  
  @keyframes fade-in {
    from { opacity:0}
    to { opacity: 100}
  }
  .introduction{
    padding:0.2rem;
  }
  .introduction p{
    font-size:0.9rem;
  }
  img.logo{
    width: 6.5rem;
    height:2.2rem;
  }
  .btnx{
    margin-left:auto;
    margin-right: auto;
  }
  img.introillustration{
    width: 20rem;
    height: 14rem;
    margin-left:0rem;
    margin-top: 0rem;
  }
  .servicebg{
    width: 100%;
    height:43rem;
    background-color: #f3f9fa;
    margin-left: 0 auto;
    margin-right: 0 auto;
    padding-top: 3rem;
  }
  div.servicebody{
    margin-left: auto;
    margin-right:auto;
    padding-left:5rem;
    padding-right:5rem;
    margin-top:2.4rem;
  }
  div.servicebodyx{
    margin-left: auto;
    margin-right:auto;
    padding-left:5rem;
    padding-right:5rem;
    margin-top:8rem;
  }
  div.experiencebgxx{
    padding-left:1rem;
    padding-right:1rem;
    padding-top:1rem;
    padding-bottom:1rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    background-color:  #f3f9fa;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
  }
  div.projectbgx{
    padding-left:1rem;
    padding-right:1rem;
    padding-top:1rem;
    padding-bottom:1rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    background-color:#f3f9fa;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
  }
  
  

 
}











/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

  body {
    margin: 0;
    font-family:"luna";
    background-color:whitesmoke;
  }
  div.landingpage{
    background-color:#85B6C6;
    margin-top: 0rem;
    padding-top: 3rem;
    height:25rem;
  }
  .landingpagebody{
    width: 100%;
    height:27rem;
    padding-top:5rem;
    padding-bottom:2rem;
    padding-right:auto;
    padding-left:auto;
     margin-left:auto;
     margin-right:auto;
    background-image: url(image/landingbg.svg);
    position: relative;
    background-repeat: no-repeat;
  }
  img.myimage{
    margin-top:-2rem;
    width:12rem;
    height:12rem;
    border-radius: 100% 100%;
  }
  div.details{
    margin-top:-2rem;
  }
  h2.name{
    font-family:"luna";
    font-weight: 500;
    color: black;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    justify-content:start;
  }
  .navhead{
    background-color:whitesmoke;
    box-shadow: 0px 3px 6px -2px rgb(0, 0, 0, 0.3);
  
  }
  h4.title-fade-out {
    opacity: 0;
    animation-name: fade-out;
    animation-duration: 3s;
    color: #346b80;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    justify-content: initial;
    
   
    
  }
  h4.title-fade-in {
    opacity: 100;
    animation-name: fade-in;
    animation-duration: 3s;
    color: #4e8092;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    justify-content: initial;
    
    
  }
  @keyframes fade-out{
    from { opacity: 100}
    to { opacity:0}
  }
  
  
  @keyframes fade-in {
    from { opacity:0}
    to { opacity: 100}
  }
  .introduction{
    padding:0.2rem;
  }
  .introduction p{
    font-size:0.9rem;
  }
  img.logo{
    width: 6.5rem;
    height:2.1rem;
  }
  .btnx{
    margin-left:auto;
    margin-right: auto;
  }
  img.introillustration{
    width: 20rem;
    height: 14rem;
    margin-left:0rem;
    margin-top: 0rem;
  }
  .servicebg{
    width: 100%;
    height:46rem;
    background-color: #f4fbfd;
    margin-left: 0 auto;
    margin-right: 0 auto;
    padding-top: 3rem;
  }
  div.servicebody{
    margin-left: auto;
    margin-right:auto;
    padding-left:5rem;
    padding-right:5rem;
    margin-top:2.4rem;
  }
  div.servicebodyx{
    margin-left: auto;
    margin-right:auto;
    padding-left:5rem;
    padding-right:5rem;
    margin-top:8rem;
  }
  div.experiencebgxx{
    padding-left:1rem;
    padding-right:1rem;
    padding-top:1rem;
    padding-bottom:1rem;
    margin-left: auto;
    margin-right: auto;
    background-color:#f4fbfd;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
  }
  div.projectbgx{
    padding-left:1rem;
    padding-right:1rem;
    padding-top:1rem;
    padding-bottom:1rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    background-color:#f4fbfd;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
  }
  
  

}
